@use 'sass:math';
@use 'sass:map';

@use '../mixins/function.scss' as *;

// Color
$colors: () !default;
$colors: map.deep-merge(
  (
    'white': #ffffff,
    'black': #000000,
    'primary': #409eff,
  ),
  $colors
);

$color-white: map.get($colors, 'white') !default;
$color-black: map.get($colors, 'black') !default;
$color-primary: map.get($colors, 'primary') !default;

@mixin set-color-type-light($type, $number) {
  $colors: map.deep-merge(
    (
      '#{$type}-light-#{$number}':
        mix(
          $color-white,
          map.get($colors, $type),
          math.percentage(math.div($number, 10))
        ),
    ),
    $colors
  ) !global;
}

@for $i from 1 through 9 {
  @include set-color-type-light('primary', $i);
}
